@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  scroll-behavior: smooth;
}

body {
}

.vertical-timeline-element-date {
  color: #11235A;
  font-weight: bolder;
  font-size: 20px !important;
}

@media (max-width:1024px){
  .vertical-timeline-element-date {
    color: #fff !important;
  } 
}

.about p{
  margin: 1.5rem 0;
}